<% title_variable "#{@user.name} さん | フォローしている人" %>
<div class="row">
  <%= render 'user_aside' %>
  <div class="col-md-9 col-xs-12">
    <%= render 'user_info_switch' %>
    <%= render 'users', users: @followings %>
  </div>
</div>
