<div class="user-profile">
  <div class="icon text-center">
    <img src="/images/human.jpg" width="120" height="120" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
</div>