<% title_variable "#{@user.name} さん | プロフィール" %>
<div class="row">
  <%= render 'user_aside' %>
  <div class="col-md-9 col-xs-12">
    <%= render 'user_info_switch' %>
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>
