<% if books %>
  <div class="row">
    <% books.each do |book| %>
      <div class="book">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= book.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <p class="book-title"><%= book.title %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>