<ul class="media-list">
  <% books.each do |book| %>
    <li class="media">
      <div class="media-left">
        <img src="<%= book.image_url %>" height="120" width="85" alt="">
      </div>
      <div class="media-body">     
        <h4>
          <%= link_to book.title,book %>
        </h4>
        <div>
          <%= book.author %>
        </div>
        
      </div>
    </li>
  <% end %>
</ul>
