<ul class="media-list">
  <% posts.each do |post| %>
  <li class="media">
    <div class="media-left">
      <img src="/images/human.jpg" width="80" height="80" alt="" class="img-circle">
    </div>
    <div class="media-body">
      <div>
        <%= link_to post.user.name, user_path(post.user) %><span class="text-muted">&nbsp;posted at&nbsp;<%= post.created_at %></span>
      </div>
      <div>
        <p><%= simple_format(post.comment) %></p>
        <p><%= post.book.title %></p>
        
      </div>
      <!--
      <div>
        <#% if current_user == post.user %>
        <#%= link_to "Delete",post,method: :delete,data:{confirm:"本当に削除しますか？" },class: 'btn btn-danger btn-xs' %>
        <#% end %>
      </div>
      -->
    
    </div>
    
    
    
   
    
    
  </li>
  <% end %>
 
</ul>