@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
  
}
footer {
  margin-top: 40px;
  background-color: #e9e9e9;
  height: 166px;
}
.row{
  min-height: 600px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

.search_button{
  padding-right: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search{
  padding-top: 5px;
  padding-bottom: 5px;
}
/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 440px;
  background: url("/images/Thema.jpg") center center no-repeat;
  background-size: cover;
} 
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/*books*/
.book .panel-body{
  height: 120px;
}
.book .panel-heading{
  height: 230px;
}

.book .panel-body .buttons form{
  display: inline-block;
  margin: 0 5px;
}
p.book-title{
  height: 35px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.row .btn .link_text{
  font-size:15px;
  padding-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.toko{
  display: inline;
}
.item-intro .btn{
  width: 100%;
  
  font-size: 14px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; 
}
.rakuten{
  background-color: #bf0000;
}
.new_postships{
  width: 50px;
}

.footer-list{
  margin: 40px 7px 30px 7px;
}