<footer>
  <ul class="list-inline text-center">
    <li class="footer-list"><%= link_to "プライバシーポリシー",page_path("policy") %></li>
    <li class="footer-list"><%= link_to "利用規約",page_path("rules") %></li>
    <li class="footer-list"><a href="https://twitter.com/_hibinokota_" target="_blank">お問い合わせ</a></li>
    <li class="footer-list"><a href="http://pltn-18.sakura.ne.jp/" target="_blank">運営者情報</a></li>
    <li class="footer-list"><a href="https://github.com/2002hbnsn/doc-doc" target="_blank">ソースコード</a></li>
  </ul>
  <div class="text-center text-muted">© 2018 doc-doc</div>
</footer>