<footer>
  <br><br><br>
  <ul class="list-inline text-center">
    <li>利用規約&nbsp;&nbsp;</li>
    <li>プライバシーポリシー&nbsp;&nbsp;</li>
    <li>お問い合わせ&nbsp;&nbsp;</li>
    <li>運営者情報&nbsp;&nbsp;</li>
    <li>ソースコード</li>
  </ul>
  <br>
  <div class="text-center text-muted">© 2018 doc-doc</div>
</footer>