<footer>
  <br><br><br>
  <font color="red">
  <ul class="list-inline text-center">

    <li><%= link_to "プライバシーポリシー",page_path("policy") %> &nbsp;&nbsp;</li>
    <li><%= link_to "利用規約",page_path("rules") %> &nbsp;&nbsp;</li>
    <li><a href="https://twitter.com/_hibinokota_" target="_blank">お問い合わせ&nbsp;&nbsp;</a> </li>
    <li><a href="http://pltn-18.sakura.ne.jp/" target="_blank">運営者情報&nbsp;&nbsp;</a></li>
    <li><a href="https://github.com/2002hbnsn/doc-doc" target="_blank">ソースコード&nbsp;&nbsp;</a></li>
   
  </ul>
  </font>
  <br>
  <div class="text-center text-muted">© 2018 doc-doc</div>
</footer>